body{
    background-color: aliceblue;
}
header{
    *{
        display: inline-block;
    }
    img{
        height: 4%
    }
    ul{
        a{
            text-decoration: none;
            color: black;
            background-color: gray;
            padding: 0.5rem;
            border: solid 0.1rem;
            border-radius: 0.3rem;
            margin: 0.5rem;
        }
    }
    background-color: lightgray;
    width: 100%;
    height: 100%;
    text-align: center;
}
div#conceptes {
    max-width: 1200px;
    margin: 0 auto;
    a{
        article{
            h2{
                min-height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            height: 100%;
        }
        height: 100%;
    }
}
h1,h2{
    text-align: center;
}
figure{
    display: inline-block;
    border: solid;
    margin: 1rem;
    text-align: center;
    width: max-content;
    img{
        width: 100%;
    }
    *{
        display: block;
    }
    a{
        background-color: lightblue;
        text-decoration: none;
        border: solid blue;
        border-radius: 0.5rem;
        width: max-content;
        margin: 0.5rem auto;
        padding: 0.5rem;
    }
}
section#cartellera{
    height: max-content;
}
figure.pel·li{
    width: 22%;
    height: 100%;
    border-radius: 1rem;
    span{
        h2{
            margin: auto;
        }
        height: max-content;
        min-height: 6rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    img{
        height: 50rem;
    }
    a{


        max-width: 80%;
        
    }
}
article{
    width: 320px;
    height: 280px;
    *{
        display: block;
    }
    img{
        margin: auto;
    }
    display: inline-block;
    text-align: center;
    border: solid 1px #ffA430;
    border-radius: 1rem;
    margin: 2rem;
    background-color: white;
}
a{
    color: black;
}
article:hover{
    transform: scale(1.1);
    background-color: #bababa;
}

.imagenes{
    margin: auto auto auto 2rem;
    width: 30%;
}

.centrat{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    h4{
        font-weight: 400;
    }
}
#IoT{
    text-align: left;
}
#avis{
    font-size: small;
}

#dashboard_bd{
    width: 50rem;
}

#salaiot{
    width: 50rem;
    border: 0;
    text-align: center;
    margin: auto auto auto 4%;
}